<?xml version="1.0" encoding="UTF-8"?>
<configuration>
        <!-- put your appender -->
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
            <encoder>
                <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %.-512msg%n</pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>

        <!-- put your loggers here -->
        <logger name="org.springframework.data.mongodb.core.ReactiveMongoTemplate" level="DEBUG">
            <appender-ref ref="CONSOLE" />
        </logger>

        <logger name="org.springframework.data.elasticsearch.client.WIRE" level="trace">
            <appender-ref ref="CONSOLE" />
        </logger>

        <!-- put your root here -->
        <root level="warn">
            <appender-ref ref="CONSOLE" />
        </root>

</configuration>